{% extends "mysite/base.html" %} {% block content %} {% load crispy_forms_tags %}

<body class="bg-gray">
    <div class="bg-white">
        <div class="container mt-5">
            <form method="post">
                <h1>แก้ไขข้อมูลกรมธรรม์</h1>
                <div class="container">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm">
                            {{ form.doc_nbr|as_crispy_field}}
                        </div>
                        <div class="col-sm">
                          One of three columns
                        </div>
                        <div class="col-sm">
                          One of three columns
                        </div>
                      </div>
                    
                    {{ myInsure.package_id.package_name }}
                    {{ form.cus_id|as_crispy_field}}
                    {{ form.car_id|as_crispy_field}}
                    {{ form.company_order|as_crispy_field}}
                    <!-- {{ form|crispy }} -->
                </div>

                <div class="container">
                    <button type="submit" class="btn btn-primary mb-5">ยืนยัน</button>
                    <a href="/profile/" class="btn btn-danger mb-5" role="button">ยกเลิก</a>
                </div>

            </form>
        </div>
    </div>
</body>
{% endblock %}