{% extends "mysite/base.html" %} {% block content %} {% load crispy_forms_tags %}

<body class="bg-gray">
    <div class="bg-white">
        <div class="container mt-5">
            <form method="post">
                {% csrf_token %}
                <br>
                <h1>แก้ไขข้อมูลกรมธรรม์</h1>
                <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header bg-darkblue text-white" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="mb-0">
                                    ข้อมูลลูกค้า
                                </h4>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                        {{editform.cus_fname|as_crispy_field}}

                                                        
                                                </div>
                                                <div class="col">
                                                    {{editform.cus_lname|as_crispy_field}}
                                                </div>
                                                <div class="col">
                                                    {{editform.cus_id_card|as_crispy_field}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    {{editform.cus_province|as_crispy_field}}
                                                </div>
                                                <div class="col">
                                                    {{editform.cus_zipcode|as_crispy_field}}
                                                </div>
                                            </div>
                                            {{editform.cus_address|as_crispy_field}}
                                            <div class="row">
                                                <div class="col">
                                                    {{editform.cus_phone|as_crispy_field}}                                                    
                                                </div>
                                                <div class="col">
                                                    {{editform.cus_email|as_crispy_field}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-darkblue text-white collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                                <h4 class="mb-0">
                                    ข้อมูลรถยนต์
                                </h4>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <h3>ข้อมูลรถยนต์</h3>
                                            <div class="row">
                                                <div class="col">
                                                    {{ editform.car_number|as_crispy_field }}
                                                </div>
                                                <div class="col">
                                                    {{ editform.car_province|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    {{ editform.car_model|as_crispy_field }}
                                                </div>
                                                <div class="col">
                                                    {{ editform.car_brand|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    {{ editform.car_type|as_crispy_field }}
                                                </div>
                                                <div class="col">
                                                    {{ editform.car_cc|as_crispy_field }}
                                                </div>
                                                <div class="col">
                                                    {{ editform.car_sit|as_crispy_field }}
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-darkblue text-white" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h4 class="mb-0">
                                    ข้อมูลแพ็คเกจ
                                </h4>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <h3>แพ็คเกจ</h3>
                                            {{ editform.package_name|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div align="center">
                            <button type="submit" class="btn btn-primary mt-3">ตกลง</button>
                            <a href="/" class="btn btn-danger mt-3"> ยกเลิก </a>
                        </div>
                    </div>

            </form>
        </div>
    </div>
</body>
{% endblock %}