{% extends "mysite/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container">
    <br>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="input-group date" id="start-date" data-target-input="nearest" align="center">
                <div class="col-3">
                    <label for="start-date">Select start date:</label>
                </div>
                <input type="text" class="form-control datetimepicker-input" data-target="#start-date"/>
                <div class="input-group-append" data-target="#start-date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <br>
            <div class="input-group date" id="end-date" data-target-input="nearest" align="center">
                <label for="end-date">Select end date: </label>  
                <input type="text" class="form-control datetimepicker-input" data-target="#end-date"/>
                <div class="input-group-append" data-target="#end-date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <br>
            <button onclick="btnDidTapped()" type="button" class="btn btn-primary">Change</button>
        </div>
    </div>

    <h1 id="predict-title" align="center"></h1>
    <canvas id="predictChart"></canvas>
    <br><br>
</div>

<script src="{% static 'employee_control/js/moment.js' %}"></script>
<script src="{% static 'employee_control/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'employee_control/js/predictGraphJS.js' %}"></script>
<script>
    $('#start-date').datetimepicker({
        viewMode: 'years',
        format: 'MM/YYYY'
    });

    $('#end-date').datetimepicker({
        viewMode: 'years',
        format: 'MM/YYYY'
    });

    $(document).ready(function() {
        showGraphWithInsure()
    });

    function btnDidTapped() {
        let startDate = $('#start-date').data('date').split('/');
        let startMonth = startDate[0];
        let startYear = startDate[1];

        let endDate = $('#end-date').data('date').split('/');
        let endMonth = endDate[0];
        let endYear = endDate[1];

        let insure_list = {{ insure_list|safe }}
        let months = {{ months|safe }}
        let new_month = months.slice(startMonth - 1, endMonth);
        let new_insure = insure_list[2017].slice(startMonth - 1, endMonth);

        showGraph(new_month, new_insure)
    }

    function showGraphWithInsure() {
        $('#predict-title').text("ผลพยากรณ์ยอดขายปี " + 2017);
        let insure_list = {{ insure_list|safe }}
        showGraph({{ months|safe }}, insure_list[2017])
    }

</script>
{% endblock %}


