{% extends "mysite/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container">
    <br><br>
    <label for="year-select">Select Year: </label>
    <select class="selectpicker" data-live-search="true" id="year-select" name="year-select">
        <option>2016</option>
        <option>2017</option>
    </select>
    <canvas id="predictChart"></canvas>
</div>

<script src="{% static 'employee_control/js/predictGraphJS.js' %}"></script>
<script>
    $(document).ready(function() {
        $('selectpicker').selectpicker();
        let year = $('#year-select').selectpicker('val')
        showGraphWithInsure(year)
    });

    $('#year-select').on('changed.bs.select', function(e, clickedIndex, isSelected, previousValue) {
        let year = $('#year-select').selectpicker('val')
        showGraphWithInsure(year)
    });

    function showGraphWithInsure(year) {
        let insure_list = {{ insure_list|safe }}
        showGraph({{ months|safe }}, insure_list[year])
    }

</script>
{% endblock %}


