{% extends "mysite/base.html" %} {% block content %}


<body class="bg-gray">
    <div class="bg-white">
        <div class="container mt-5">
            <br />
            <h1>ข้อมูลกรมธรรม์ {{ insure.id }}</h1>
            <hr> Doc Nbr :{{ insure.doc_nbr }}<br /> agent code :{{ insure.agent_code }}<br /> post date :{{ insure.post_date }}<br /> company_order :{{ insure.company_order }}<br />

            <hr>
            <a href="/insure/edit/{{insure.id}}" class="btn btn-warning">แก้ไขข้อมูล</a>
            <a href="/pdf/{{ insure.id }}" class="btn btn-info" target="_blank"> save เป็น pdf</a>
            <br />
            <br />
        </div>
    </div>
    {% endblock %}