{% extends "mysite/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container mt-5">
        <a href="/package/new" class="btn btn-info">เพิ่มแพ็คเกจใหม่</a>

{% if pack_list %}
{% for package in pack_list %}

<div class="card mb-3 mt-3">
    <h5 class="card-header">Package : {{ package.package_name }}</h5>
    <div class="card-body">
        <h5 class="card-title">รหัสแพ็คเกจ : {{ package.package_id }}</h5>
        <p class="card-text">บริษัท: {{ package.company_name }} <br />
            ซีซี: {{ package.package_cc }}<br />
            ประเภทแพ็คเกจ: {{ package.package_type }}<br />
            ราคา: {{ package.price }}<br />
            รายละเอียด: {{ package.detail }}</p>
        <a href="#" class="btn btn-primary">ออกกรมธรรม์</a>
    </div>
</div>


{% endfor %}

{% else %}
No Package here.
{% endif %}

</div>


{% endblock %}