<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amarin Broker</title>
    <link rel="stylesheet" href="{% static 'employee_control/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'employee_control/css/emp_con.css' %}">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-darkblue">
        <a class="navbar-brand" href="/">Amarin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        กรมธรรม์
                    </a>
                    <div class="dropdown-menu bg-darkblue" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-white" href="/insure/">ออกกรมธรรม์</a>
                        <a class="dropdown-item text-white" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white" href="#">Something else here</a>
                    </div>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/employee/">นายหน้า</a>
                </li>
                {% else %}
                {% endif%}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu bg-darkblue" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-white" href="#">Action</a>
                        <a class="dropdown-item text-white" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                <a href="/profile/" class="btn btn-outline-light mr-1 ml-1" role="button">AMA-{{ user.id }}</a>
                <button type="button" class="btn btn-outline-danger bg-dark mr-1 ml-1" data-toggle="modal" data-target="#logoutmodal">
                    LogOut
                </button>

                {% else %}
                <a href="/login/" class="btn btn-outline-light mr-1 ml-1" role="button">log In</a>
                <a href="/signup/" class="btn btn-outline-warning mr-1 ml-1" role="button">Sign Up</a>
                {% endif%}
            </form>
        </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}



    {% block content %}

    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
<div class="modal fade" id="logoutmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please Confirm to log out!
            </div>
            <div class="modal-footer">
                <a href="/logout/" class="btn btn-danger my-2 my-sm-0" role="button">Log out</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

</html>