<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amarin Broker</title>
    <link rel="stylesheet" href="{% static 'employee_control/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'employee_control/css/emp_con.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
    <link href="{% static 'employee_control/css/datepicker.min.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'employee_control/js/datepicker.min.js' %}"></script>
    <script src="{% static 'employee_control/js/i18n/datepicker.en.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-darkblue">
        <a class="navbar-brand" href="/">Amarin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                กรมธรรม์
                            </a>
                    <div class="dropdown-menu bg-darkblue hover-color" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-white bg-darkblue hover-color" href="/insure/emp">กรมธรรม์ของคุณ</a> {% if perms.employee_control.is_manager %}
                        <a class="dropdown-item text-white bg-darkblue" href="/insure/">กรมธรรม์ทั้งหมด</a> {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insure/selling">ออกงานประกัน</a>
                </li>
                {% if perms.employee_control.is_manager %}
                <li class="nav-item">
                    <a class="nav-link" href="/employee/">นายหน้า</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/predict/">พยากรณ์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report/">รายงานผล</a>
                </li>{% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        แพ็คเกจ
                    </a>
                    <div class="dropdown-menu bg-darkblue" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-white bg-darkblue" href="/package/">แพ็กเกจทั้งหมด</a>
                        <a class="dropdown-item text-white bg-darkblue" href="/package/new">เพิ่มแพ็กเกจ</a>
                        <!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white" href="/promotion">ดูโปรโมชั่น</a>
                        <a class="dropdown-item text-white" href="/promotion/add">เพิ่มโปรโมชั่น</a> -->
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/remind/">งานต่ออายุ</a>
                </li>

                {% else %} {% endif%}
                <li class="nav-item">
                    <a class="nav-link" href="/Q&A/">คำถาม</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">ติดต่อเรา</a>
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if perms.employee_control.is_manager %}
                <div id="ex3">
                    <a href="insure">
                        <span class="p1 fa-stack fa-lg has-badge" data-count="{{ insureNum }}">
                            <i class="p2 fa fa-circle fa-stack-1x fa-lg text-gray"></i>
                            <i class="p3 fa fa-bell fa-stack-1x fa-sm"></i>
                        </span>
                    </a>
                </div>
                {% endif %} {% if user.is_authenticated %}


                <a href="/profile/" class="btn btn-outline-light mr-1 ml-1" role="button">User</a>
                <button type="button" class="btn btn-outline-danger bg-dark mr-1 ml-1" data-toggle="modal" data-target="#logoutmodal">
                    LogOut
                </button> {% else %}
                <a href="/login/" class="btn btn-outline-light mr-1 ml-1" role="button">เข้าสู่ระบบ</a>
                <a href="/signup/" class="btn btn-outline-warning mr-1 ml-1" role="button">สมัครสมาชิก</a> {% endif%}
            </form>
        </div>
    </nav>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %} {% endif %} {% if perms.employee_control.is_admin %}
    <!-- <h1>hi ส่วนนี้แอดมินค่ะ อีเวง</h1> -->
    {% endif %} {% block content %} {% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{% static 'employee_control/js/remindJS.js' %}"></script>

</body>
<div class="modal fade" id="logoutmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please Confirm to log out!
            </div>
            <div class="modal-footer">
                <a href="/logout/" class="btn btn-danger my-2 my-sm-0" role="button">Log out</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

</html>