{% extends "mysite/base.html" %} {% load crispy_forms_tags %} {% block content %}

<body class="bg-gray">
    <div class="container bg-white mt-3 add-radius">
        <br>
        <h3>คำถามที่พบบ่อย</h3>
        <hr>
        <div class="accordion" id="accordionExample">
            <div class="col card m-3 border-0">
                <div class="" id="headingOne">
                    <button class="btn" type="button" data-toggle="collapse" style="background-color: rgb(225, 245, 254);" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        มีขั้นตอนในการลงทะเบียนอย่างไร
                    </button>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        เมื่อผู้ใช้งานต้องการสมัครสมาชิก ให้ท่านกรอกข้อมูลส่วนบุคคล ข้อมูลusername password และอีเมล์ ที่ของท่าน <br> เมื่อลงทะเบียนเสร็สท่านก็สามารถเข้าสู่ระบบด้วย username และ password ที่ท่านกำหนดใว้ได้
                    </div>
                </div>
            </div>

            <div class="col card m-3 border-0">
                <div class="bg" id="headingTwo">
                    <button class="btn" type="button" data-toggle="collapse" style="background-color: rgb(225, 245, 254);" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwp">
                        สามารถเปลี่ยนรหัสผ่านได้หรือไม่ ?
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        หากผู้ใช้ลืมรหัสผ่านระบบจะส่งรหัสผ่านของท่านไปยังอีเมลล์ที่ท่านได้ทำการระบุใว้
                    </div>
                </div>
            </div>

            <div class="col card m-3 border-0">
                <div class="bg" id="headingThree">
                    <button class="btn" type="button" data-toggle="collapse" style="background-color: rgb(225, 245, 254);" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        สามารถเปลี่ยน Email ที่ใช้บริการ ได้หรือไม่ ?
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        ในกรณีที่ต้องการเปลี่ยน Email ที่ใช้เข้าสู่บริการ ให้ผู้ช้งานกดปุ่ม แก้ไขข้อมูลส่วนตัว และกรอก E-mail ใหม่ <br> จากนั้นให้ผู้ใช้งาน กดปุ่ม ยืนยัน
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
{% endblock %}