{% extends "mysite/base.html" %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container">
    <div>
        <div class="panel with-nav-tabs panel-success">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="tab-head active"><a href="#tab1success" data-toggle="tab">ม.ค.</a></li>
                    <li class="tab-head"><a href="#tab2success" data-toggle="tab">ก.พ.</a></li>
                    <li class="tab-head"><a href="#tab3success" data-toggle="tab">มี.ค.</a></li>
                    <li class="tab-head"><a href="#tab4success" data-toggle="tab">เม.ย.</a></li>
                    <li class="tab-head"><a href="#tab5success" data-toggle="tab">พ.ค.</a></li>
                    <li class="tab-head"><a href="#tab6success" data-toggle="tab">มิ.ย.</a></li>
                    <li class="tab-head"><a href="#tab7success" data-toggle="tab">ก.ค.</a></li>
                    <li class="tab-head"><a href="#tab8success" data-toggle="tab">ส.ค.</a></li>
                    <li class="tab-head"><a href="#tab9success" data-toggle="tab">ก.ย.</a></li>
                    <li class="tab-head"><a href="#tab10success" data-toggle="tab">ต.ค.</a></li>
                    <li class="tab-head"><a href="#tab11success" data-toggle="tab">พ.ย.</a></li>
                    <li class="tab-head"><a href="#tab12success" data-toggle="tab">ธ.ค.</a></li>

                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="tab1success">Success 1</div>
                    <div class="tab-pane fade" id="tab2success">Success 2</div>
                    <div class="tab-pane fade" id="tab3success">Success 3</div>
                    <div class="tab-pane fade" id="tab4success">Success 4</div>
                    <div class="tab-pane fade" id="tab5success">Success 5</div>
                    <div class="tab-pane fade" id="tab6success">Success 1</div>
                    <div class="tab-pane fade" id="tab7success">Success 2</div>
                    <div class="tab-pane fade" id="tab8success">Success 3</div>
                    <div class="tab-pane fade" id="tab9success">Success 4</div>
                    <div class="tab-pane fade" id="tab10success">Success 5</div>
                    <div class="tab-pane fade" id="tab11success">Success 1</div>
                    <div class="tab-pane fade" id="tab12success">Success 2</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}