{% extends "mysite/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for month in all_month %}
                    {% if month.month_num == 1 %}
                        <a class="nav-link active" id="tabs-{{ month.month_num }}" data-toggle="pill" href="#month-{{ month.month_num }}" role="tab"
                        aria-controls="month-{{ month.month_num }}" aria-selected="true">{{ month.month_name }}</a>
                    {% else %}
                        <a class="nav-link" id="tabs-{{ month.month_num }}" data-toggle="pill" href="#month-{{ month.month_num }}" role="tab"
                        aria-controls="month-{{ month.month_num }}" aria-selected="true">{{ month.month_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                {% for month in all_month %}
                {% if month.month_num == 1 %}
                    <div class="tab-pane fade show active" id="month-{{ month.month_num }}" role="tabpanel"
                        aria-labelledby="month-{{ month.month_num }}">
                        {{ month.month_name }}
                        {% for ins in month.ins_list %}
                            <h1>{{ ins.doc_nbr }}</h1>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="tab-pane fade" id="month-{{ month.month_num }}" role="tabpanel" aria-labelledby="month-{{ month.month_num }}">
                        {{ month.month_name }}
                        {% for ins in month.ins_list %}
                            <h1>{{ ins.doc_nbr }}</h1>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endfor %}
               
            </div>
        </div>
    </div>
</div>




{% endblock %}