{% extends "mysite/base.html" %}
{% block content %}


<body class="bg-gray">
    <div class="bg-white">
        <div class="container mt-5">
            <br />
            <h1>ข้อมูลพนักงาน {{ employee.user }}</h1>
            <hr>
            ชื่อ :{{ employee.fname }}<br />
            นามสกุล :{{ employee.lname }}<br />
            เลขบัตรประชาชน :{{ employee.id_card }}<br />
            เบอร์โทรศัพท์ 1 :{{ employee.phone1 }}<br />
            เบอร์โทรศัพท์ 2 :{{ employee.phone2 }}<br />
            อีเมลล์ :{{ employee.email }}<br />
            ที่อยู่ :{{ employee.address }}<br />
            {{ employee.id }}
            <hr>
            <button type="button" class="btn btn-warning">แก้ไขข้อมูล</button>
            <br />
            <br />
        </div>
    </div>
    {% endblock %}