{% extends "mysite/base.html" %}
{% block content %}


<body class="bg-gray">
    <div class="bg-white">
        <div class="container mt-5">
            <br />
            <h1>Your Profile</h1>
            <hr>
            {{ user.username }}<br />
            {{ employee.fname }}<br />
            {{ employee.lname }}<br />
            {{ employee.email }}<br />

            <hr>
            <a href="/profile/edit" class="btn btn-warning"> edti data</a>
            <br />
            <br />
        </div>
    </div>
</body>
{% endblock %}